@import "libs/normalize";
//@import "libs/breakpoints-desktop_first";

@import "libs/breakpoints-mobile_first";
@import "libs/mixins";
@import "libs/fonts";
@import "libs/colors";

@import "header";
@import "footer";

*:focus {
  outline: none;
}

html {
}

html, body {
  background-color: $white;
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  @include notoserif-reg;
}

#content {
  padding-top: 46px;

  @include media-step2 {
    padding-top: 191px;
  }

  @include media-step5 {
    padding-top: 207px;
  }
}

h1 {
  font-size: 1.5em;
  @include notoserif-reg;

  @include media-step2 {
    font-size: 1.85em;
  }
}

h2 {
  @include notoserif-reg;
  margin: 15px 5px;
  font-size: 1.4em;

  @include media-step5 {
    font-size: 2.5em;
  }
}

h3 {
  @include notoserif-reg;
  font-size: 1.1em;

  @include media-step5 {
    font-size: 1.75em;
  }
}

h4 {
  @include notoserif-reg;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;

  @include media-step5 {
    font-size: 1.75em;
  }
}

h5 {
  @include notoserif-reg;
  font-size: .8em;
  margin: 0 auto 5px;

  @include media-step5 {
    font-size: .9em;
  }
}

h6 {
  @include notoserif-bold;
  font-size: 1em;
  margin: 0;

  @include media-step2 {
    font-size: 1.2em;
  }
}

a {
  text-decoration: none;
}

.button {
  font-size: .9em;
  border: solid 1px $white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  @include box-sizing(border-box);

  @include media-step3 {
    @include transition(all, .3s, ease-in-out);

    &:hover {
      background-color: $white;
    }
  }
}

.wrapper {
  width: 95%;
  max-width: 1180px;
  margin: auto;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}
