.motto {
  position: relative;
  padding: 70px 0 80px;
  text-align: center;

  &:before {
    $size: 60;

    height: $size * 1px;
    width: $size * 1px;
    border-radius: 50%;
    background-color: $white;
    background-image: url('../img/signature-small-color.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: - $size / 2 * 1px;
    margin: auto;

    @include media-step3 {
      $size: 80;

      height: $size * 1px;
      width: $size * 1px;
      top: - $size / 2 * 1px;
    }

    @include media-step5 {
      $size: 110;

      height: $size * 1px;
      width: $size * 1px;
      top: - $size / 2 * 1px;
      background-size: auto;
    }
  }

  p {
    position: relative;
    margin: 0;
    display: inline-block;

    &:before {
      background-image: url('../img/signature-big-bw.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      content: '';
      display: block;
      position: absolute;
      width: 187px;
      height: 178px;
      bottom: -100px;
      right: -15%;
      z-index: -1;
    }

    &:after {
      $size: 100;

      width: $size * 1px;
      height: $size * 47 / 160 * 1px;
      background-image: url('../img/signature.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
      display: block;
      position: absolute;
      right: 10%;
      bottom: -45px;
    }
  }

  @include media-step3 {
    padding: 110px 0;

    p {
      &:before {
        height: 188px;
        bottom: -110px;
        right: -20%;
      }

      &:after {
        $size: 120;
        width: $size * 1px;
        height: $size * 47 / 160 * 1px;
        bottom: -55px;
        right: 0;
      }
    }
  }

  @include media-step4 {
    padding: 130px 0;

    p {
      &:before {
        height: 198px;
        bottom: -130px;
      }
      &:after {
        $size: 160;
        width: $size * 1px;
        height: $size * 47 / 160 * 1px;
        bottom: -65px;
      }
    }
  }

  @include media-step5 {
    padding: 143px;

    p {
      font-size: 1.25em;

      &:before {
        height: 280px;
        bottom: -150px;
        width: 279px;
      }
    }
  }
}

footer.footer {
  .contact-data {
    background: url('../img/bg_footer.jpg');
    background-size: cover;
    background-position: center;
    color: $white;
    text-align: center;
    padding: 20px 0;

    @include media-step2 {
      padding: 40px 0;
    }

    @include media-step5 {
      padding: 90px 0 110px;
    }

    h4 {
      margin-bottom: 15px;

      @include media-step2 {
        margin-bottom: 40px;
      }

      @include media-step5 {
        margin-bottom: 70px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: auto;

      li {
        position: relative;
        text-align: left;
        width: 100%;
        max-width: 280px;
        margin: auto;

        div, a {
          padding-left: 90px;

          &:before {
            $size: 30;

            content: '';
            width: $size * 1px;
            height: $size * 1px;
            background-position: center bottom;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            left: 30px;
            top: 50%;
            margin-top: - $size / 2 * 1px;
          }
        }

        &.phone a:before {
          background-image: url('../img/phone-w.png');
        }
        &.email a:before {
          background-image: url('../img/email-w.png');
        }
        &.nip div:before {
          background-image: url('../img/nip-w.png');
        }

        a {
          display: block;
          color: $white;
          margin: 0 auto 30px;
        }
      }

      @include media-step2 {
        text-align: center;

        li {
          display: inline-block;
          width: 32%;
          text-align: center;

          &.email {
            &:before, &:after {
              content: '';
              display: block;
              width: 1px;
              height: 60%;
              position: absolute;
              top: 15%;
              background-color: $gray3;
              opacity: .24;
            }

            &:before {
              left: 0;
            }

            &:after {
              right: 0;
            }
          }

          a, div {
            padding: 70px 0 0 0;

            &:before {
              $size: 45;
              width: $size * 1px;
              height: $size * 1px;
              left: 0;
              right: 0;
              top: 0;
              margin: auto;
            }
          }
        }
      }

      @include media-step5 {
        li {
          max-width: 380px;

          a, div {
            padding: 80px 0 0 0;

            &:before {
              $size: 57;
              width: $size * 1px;
              height: $size * 1px;
            }

            span {
              font-size: 1.25em;
            }
          }
        }
      }
    }
  }

  .address {
    background-color: $orange;
    padding: 20px 0;

    @include media-step1 {
      .wrapper {
        text-align: center;
      }
    }

    @include media-step2 {
      padding: 34px 0;
    }

    a {
      display: inline-block;
      color: $white;
      padding-left: 60px;
      position: relative;
      max-width: 760px;
      box-sizing: border-box;
      margin: auto;

      @include media-step1 {
        padding-left: 0;
        text-align: center;
      }

      &:before {
        $size: 40;
        content: '';
        width: $size * 1px;
        height: $size * 1px;
        background-position: center bottom;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/marker.png');
        display: block;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: - $size / 2 * 1px;

        @include media-step1 {
          left: -0;
        }

        @include media-step2 {
          $size: 60;
          width: $size * 1px;
          height: $size * 1px;
          margin-top: - $size / 2 * 1px;
          left: -30px;
        }
      }

      h6 {
        display: inline-block;
        vertical-align: middle;
        @include notoserif-reg;
        margin: 11px 0;

        @include media-step1 {
          margin: 11px 50px;
        }
      }

      .button {
        display: none;
        width: 230px;
        height: 36px;
        border-radius: 18px;
        line-height: 34px;
        margin: 6px 0;

        @include media-step1 {
          display: inline-block;
        }

        @include  media-step3 {
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }

  .links {
    background-color: $gray;
    color: $white;
    text-align: center;
    padding: 20px 0;

    @include media-step5 {
      padding: 40px 0;
    }

    .social-media {
      margin: 20px auto;

      li {
        display: inline-block;
        width: 40%;
        max-width: 200px;

        @include media-step2 {
          width: 30%;
        }

        @include media-step5 {
          width: 33%;
        }

        a {

          &:before {
            $size: 46;

            width: $size * 1px;
            height: $size * 1px;
            content: '';
            display: inline-block;
            vertical-align: middle;
            background-color: $white;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
            border-radius: 50%;
          }

          @include media-step5 {
            &:before {
              $size: 66;

              width: $size * 1px;
              height: $size * 1px;
              content: '';
              background-size: auto;
            }
          }

          span {
            margin: 10px 10px 10px 5px;
            width: 72px;
            display: inline-block;
            font-size: .8em;

            @include media-step2 {
              display: block;
              margin: 10px auto;
            }
          }
        }
      }

      #fb a:before {
        background-image: url('../img/icon-fb.png');
      }
      #in a:before {
        background-image: url('../img/icon-in.png');
      }
    }

    .col {
      width: 100%;
      margin: 40px auto;

      @include media-step2 {
        display: inline-block;
        width: 32%;
        vertical-align: top;
      }
    }

    .col2 {
      img {
        margin: 40px auto;
      }

      span {
        display: block;
        margin-top: 10px;
      }
    }

    .col3 {
      li {
        padding: 5px;
        font-size: .9em;

        @include media-step2 {
          padding: 7px;
        }
      }

      @include media-step2 {
        h6 {
          margin-top: 15px;
        }
      }

      @include media-step5 {
        h6 {
          margin-bottom: 60px;
        }
      }
    }

    img {
      max-width: 40%;
      margin: 0 auto;

      @include media-step2 {
        max-width: 100%;
      }

      @include media-step5 {
        margin-bottom: 30px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 10px auto;
    }

    a {
      color: $white;
    }

    h6 {
      margin: 0 auto 15px;

      @include media-step2 {
        margin-bottom: 30px;
      }

      @include media-step5 {
        margin-bottom: 50px;
      }
    }
  }

  .info {
    @include notosans-reg;
    font-size: .7em;
    padding: 10px 0;
    color: $text5;

    @include media-step5 {
      font-size: .9em;
      padding: 37px 0;
    }

    div {
      text-align: center;

      div, p {
        margin: 5px;

        @include media-step1 {
          padding: 0 20px;
        }
      }

      * {
        display: inline-block;
        vertical-align: middle
      }

      @include media-step2 {
        text-align: right;

        p {
          line-height: 31px;
          float: left;
        }
      }
    }
    a {
      margin-left: 10px;
    }
  }
}