@import "libs/off-canvas-menu";
@import "libs/auto-hide";

header {
  background-color: $white;
  position: fixed;
  width: 100%;
  padding: 10px;
  @include box-sizing(border-box);
  border-bottom: 1px solid $gray2;
  z-index: 2;

  @include media-step2 {
    padding: 30px 0 0 0;
  }

  .upper {
    @include media-step2 {
      text-align: center;
      margin-bottom: 20px;
    }

    a#logo {
      img {
        height: 38px;
        float: left;
        position: absolute;
      }

      @include media-step2 {
        display: inline-block;

        img {
          position: static;
          height: auto;
          width: 150px;
        }
      }

      @include media-step5 {

        img {
          width: auto;
        }
      }
    }

    @include clearfix;

    .button-wrapper {
      display: none;

      &.phone {
        float: left;
      }

      &.email {
        float: right;
      }

      @include media-step2 {
        display: block;
        width: 230px;
      }
    }
  }

  .lower {
    display: none;
    border-top: 1px solid $gray2;

    @include media-step2 {
      display: block;

      ul {
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 20px;

        li {
          display: inline-block;
          text-transform: uppercase;

          a {
            color: $text3;
            padding: 0 40px;

            @include media-step3 {
              @include transition(all, .3s, ease-in-out);

              &:hover {
                color: $gray;
              }
            }

            @include media-step5 {
              font-size: 1.25em;
            }
          }
        }
      }
    }
  }
}

.page-title-wrapper {
  text-align: center;
  padding: 20px 0;
  @include box-sizing(border-box);

  @include media-step1 {
    padding: 8% 13%;
  }

  @include media-step2 {
    padding: 70px;
  }

  p {
    font-size: .8em;
    line-height: 1.6em;
    margin: 30px 0;

    @include media-step2 {
      font-size: .95em;
    }
  }
}

