@media screen and (min-width: 480px) {
  footer.footer {
    .address {
      padding: 34px 0;

      a {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 780px) {
  h6 {
    font-size: 1.2em;
  }

  footer.footer {
    .address {
      padding: 34px 0;

      a {
        display: block;
        color: $white;
        padding-left: 100px;
        position: relative;
        max-width: 760px;
        box-sizing: border-box;
        margin: auto;

        &:before {
          $size: 60;
          width: $size * 1px;
          height: $size * 1px;
          margin-top: - $size / 2 * 1px;
          left: 0;
        }

        .button {
          display: inline-block;
        }
      }
    }
  }
}