/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin. */
body {
  margin: 0; }

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22. */
[hidden], template {
  display: none; }

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10. */
a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state. */
/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome. */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers. */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers. */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set. */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible;
  text-transform: none; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox. */
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button, html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`. */
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome. */
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance). */
/**
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*Noto Sans*/
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1z0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*Noto Serif*/
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPRHJTnCUrjaAm2S9z52xC3Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  position: relative;
  overflow-x: hidden; }

.button-wrapper {
  width: 250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  .button-wrapper .button {
    height: 40px;
    border-radius: 20px;
    line-height: 36px;
    text-transform: none;
    display: block;
    position: relative; }
    @media (min-width: 1600px) {
      .button-wrapper .button {
        height: 50px;
        border-radius: 25px;
        line-height: 46px; } }
    .button-wrapper .button:before {
      content: '';
      display: block;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      top: 50%;
      left: 15px; }
  .button-wrapper.phone .button {
    border: 2px solid #f1874c;
    background-color: #f1874c;
    color: #ffffff !important; }
    .button-wrapper.phone .button:before {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-image: url(../img/phone.png); }
    @media (min-width: 1024px) {
      .button-wrapper.phone .button {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .button-wrapper.phone .button:hover {
          background-color: #ed691f;
          border-color: #ed691f; } }
    @media (min-width: 1600px) {
      .button-wrapper.phone .button {
        font-size: 1em; } }
  .button-wrapper.email .button {
    border: 2px solid #e1e1e1;
    background-color: #ffffff;
    color: #2b2929;
    padding-left: 32px; }
    .button-wrapper.email .button:before {
      width: 20px;
      height: 20px;
      margin-top: -10px;
      background-image: url(../img/env.png);
      background-repeat: no-repeat; }
    @media (min-width: 1024px) {
      .button-wrapper.email .button {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .button-wrapper.email .button:hover {
          border-color: #91948f; } }
  .button-wrapper p {
    font-size: .7em;
    text-align: center;
    text-transform: uppercase; }

body:not(:target) #top {
  float: right; }
  @media (min-width: 780px) {
    body:not(:target) #top {
      display: none; } }
body:not(:target) #nav {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out; }
  @media (min-width: 780px) {
    body:not(:target) #nav {
      display: none; } }
  body:not(:target) #nav a {
    color: #525050; }
  body:not(:target) #nav ul {
    position: absolute;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 250px;
    bottom: 0;
    top: 0;
    padding-top: 30px; }
    body:not(:target) #nav ul li {
      z-index: 1;
      position: relative;
      padding: 10px 20px;
      text-transform: uppercase; }
      body:not(:target) #nav ul li#back {
        position: absolute;
        left: -999em;
        right: -999em;
        top: 0;
        bottom: 0;
        z-index: 0; }
        body:not(:target) #nav ul li#back a {
          display: block;
          height: 100%; }
  body:not(:target) #nav:target {
    right: 250px;
    z-index: 2; }
    body:not(:target) #nav:target + #canvas {
      right: 250px; }
      body:not(:target) #nav:target + #canvas #top #nav-icon span:nth-child(1) {
        top: 10px;
        width: 0;
        left: 50%; }
      body:not(:target) #nav:target + #canvas #top #nav-icon span:nth-child(2) {
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      body:not(:target) #nav:target + #canvas #top #nav-icon span:nth-child(3) {
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      body:not(:target) #nav:target + #canvas #top #nav-icon span:nth-child(4) {
        top: 10px;
        width: 0;
        left: 50%; }
body:not(:target) #canvas {
  position: relative;
  right: 0;
  z-index: 1;
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -ms-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out; }

#nav-icon {
  width: 35px;
  height: 25px;
  position: relative;
  margin: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer; }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #2e41b6;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
    #nav-icon span:nth-child(1) {
      top: 0; }
    #nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
      top: 10px; }
    #nav-icon span:nth-child(4) {
      top: 20px; }

.cd-auto-hide-header {
  /* Force Hardware Acceleration */
  transform: translateZ(0);
  will-change: transform;
  transition: transform .5s; }
  .cd-auto-hide-header {
    *zoom: 1; }
  .cd-auto-hide-header:before, .cd-auto-hide-header:after {
    content: "";
    display: table; }
  .cd-auto-hide-header:after {
    clear: both; }
  .cd-auto-hide-header.is-hidden {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
    @media (min-width: 780px) {
      .cd-auto-hide-header.is-hidden {
        -moz-transform: translateY(-128px);
        -o-transform: translateY(-128px);
        -ms-transform: translateY(-128px);
        -webkit-transform: translateY(-128px);
        transform: translateY(-128px); } }
    @media (min-width: 1600px) {
      .cd-auto-hide-header.is-hidden {
        -moz-transform: translateY(-139px);
        -o-transform: translateY(-139px);
        -ms-transform: translateY(-139px);
        -webkit-transform: translateY(-139px);
        transform: translateY(-139px); } }

header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
  z-index: 2; }
  @media (min-width: 780px) {
    header {
      padding: 30px 0 0 0; } }
  @media (min-width: 780px) {
    header .upper {
      text-align: center;
      margin-bottom: 20px; } }
  header .upper a#logo img {
    height: 38px;
    float: left;
    position: absolute; }
  @media (min-width: 780px) {
    header .upper a#logo {
      display: inline-block; }
      header .upper a#logo img {
        position: static;
        height: auto;
        width: 150px; } }
  @media (min-width: 1600px) {
    header .upper a#logo img {
      width: auto; } }
  header .upper {
    *zoom: 1; }
  header .upper:before, header .upper:after {
    content: "";
    display: table; }
  header .upper:after {
    clear: both; }
  header .upper .button-wrapper {
    display: none; }
    header .upper .button-wrapper.phone {
      float: left; }
    header .upper .button-wrapper.email {
      float: right; }
    @media (min-width: 780px) {
      header .upper .button-wrapper {
        display: block;
        width: 230px; } }
  header .lower {
    display: none;
    border-top: 1px solid #e1e1e1; }
    @media (min-width: 780px) {
      header .lower {
        display: block; }
        header .lower ul {
          list-style: none;
          padding: 0;
          text-align: center;
          margin: 20px; }
          header .lower ul li {
            display: inline-block;
            text-transform: uppercase; }
            header .lower ul li a {
              color: #333333;
              padding: 0 40px; } }
        @media (min-width: 780px) and (min-width: 1024px) {
          header .lower ul li a {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            header .lower ul li a:hover {
              color: #91948f; } }
        @media (min-width: 780px) and (min-width: 1600px) {
          header .lower ul li a {
            font-size: 1.25em; } }

.page-title-wrapper {
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  @media (min-width: 480px) {
    .page-title-wrapper {
      padding: 8% 13%; } }
  @media (min-width: 780px) {
    .page-title-wrapper {
      padding: 70px; } }
  .page-title-wrapper p {
    font-size: .8em;
    line-height: 1.6em;
    margin: 30px 0; }
    @media (min-width: 780px) {
      .page-title-wrapper p {
        font-size: .95em; } }

.motto {
  position: relative;
  padding: 70px 0 80px;
  text-align: center; }
  .motto:before {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url("../img/signature-small-color.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    margin: auto; }
    @media (min-width: 1024px) {
      .motto:before {
        height: 80px;
        width: 80px;
        top: -40px; } }
    @media (min-width: 1600px) {
      .motto:before {
        height: 110px;
        width: 110px;
        top: -55px;
        background-size: auto; } }
  .motto p {
    position: relative;
    margin: 0;
    display: inline-block; }
    .motto p:before {
      background-image: url("../img/signature-big-bw.png");
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      content: '';
      display: block;
      position: absolute;
      width: 187px;
      height: 178px;
      bottom: -100px;
      right: -15%;
      z-index: -1; }
    .motto p:after {
      width: 100px;
      height: 29.375px;
      background-image: url("../img/signature.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
      display: block;
      position: absolute;
      right: 10%;
      bottom: -45px; }
  @media (min-width: 1024px) {
    .motto {
      padding: 110px 0; }
      .motto p:before {
        height: 188px;
        bottom: -110px;
        right: -20%; }
      .motto p:after {
        width: 120px;
        height: 35.25px;
        bottom: -55px;
        right: 0; } }
  @media (min-width: 1280px) {
    .motto {
      padding: 130px 0; }
      .motto p:before {
        height: 198px;
        bottom: -130px; }
      .motto p:after {
        width: 160px;
        height: 47px;
        bottom: -65px; } }
  @media (min-width: 1600px) {
    .motto {
      padding: 143px; }
      .motto p {
        font-size: 1.25em; }
        .motto p:before {
          height: 280px;
          bottom: -150px;
          width: 279px; } }

footer.footer .contact-data {
  background: url("../img/bg_footer.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 20px 0; }
  @media (min-width: 780px) {
    footer.footer .contact-data {
      padding: 40px 0; } }
  @media (min-width: 1600px) {
    footer.footer .contact-data {
      padding: 90px 0 110px; } }
  footer.footer .contact-data h4 {
    margin-bottom: 15px; }
    @media (min-width: 780px) {
      footer.footer .contact-data h4 {
        margin-bottom: 40px; } }
    @media (min-width: 1600px) {
      footer.footer .contact-data h4 {
        margin-bottom: 70px; } }
  footer.footer .contact-data ul {
    list-style: none;
    padding: 0;
    margin: auto; }
    footer.footer .contact-data ul li {
      position: relative;
      text-align: left;
      width: 100%;
      max-width: 280px;
      margin: auto; }
      footer.footer .contact-data ul li div, footer.footer .contact-data ul li a {
        padding-left: 90px; }
        footer.footer .contact-data ul li div:before, footer.footer .contact-data ul li a:before {
          content: '';
          width: 30px;
          height: 30px;
          background-position: center bottom;
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          left: 30px;
          top: 50%;
          margin-top: -15px; }
      footer.footer .contact-data ul li.phone a:before {
        background-image: url("../img/phone-w.png"); }
      footer.footer .contact-data ul li.email a:before {
        background-image: url("../img/email-w.png"); }
      footer.footer .contact-data ul li.nip div:before {
        background-image: url("../img/nip-w.png"); }
      footer.footer .contact-data ul li a {
        display: block;
        color: #ffffff;
        margin: 0 auto 30px; }
    @media (min-width: 780px) {
      footer.footer .contact-data ul {
        text-align: center; }
        footer.footer .contact-data ul li {
          display: inline-block;
          width: 32%;
          text-align: center; }
          footer.footer .contact-data ul li.email:before, footer.footer .contact-data ul li.email:after {
            content: '';
            display: block;
            width: 1px;
            height: 60%;
            position: absolute;
            top: 15%;
            background-color: #f1eeee;
            opacity: .24; }
          footer.footer .contact-data ul li.email:before {
            left: 0; }
          footer.footer .contact-data ul li.email:after {
            right: 0; }
          footer.footer .contact-data ul li a, footer.footer .contact-data ul li div {
            padding: 70px 0 0 0; }
            footer.footer .contact-data ul li a:before, footer.footer .contact-data ul li div:before {
              width: 45px;
              height: 45px;
              left: 0;
              right: 0;
              top: 0;
              margin: auto; } }
    @media (min-width: 1600px) {
      footer.footer .contact-data ul li {
        max-width: 380px; }
        footer.footer .contact-data ul li a, footer.footer .contact-data ul li div {
          padding: 80px 0 0 0; }
          footer.footer .contact-data ul li a:before, footer.footer .contact-data ul li div:before {
            width: 57px;
            height: 57px; }
          footer.footer .contact-data ul li a span, footer.footer .contact-data ul li div span {
            font-size: 1.25em; } }
footer.footer .address {
  background-color: #ed691f;
  padding: 20px 0; }
  @media (min-width: 480px) {
    footer.footer .address .wrapper {
      text-align: center; } }
  @media (min-width: 780px) {
    footer.footer .address {
      padding: 34px 0; } }
  footer.footer .address a {
    display: inline-block;
    color: #ffffff;
    padding-left: 60px;
    position: relative;
    max-width: 760px;
    box-sizing: border-box;
    margin: auto; }
    @media (min-width: 480px) {
      footer.footer .address a {
        padding-left: 0;
        text-align: center; } }
    footer.footer .address a:before {
      content: '';
      width: 40px;
      height: 40px;
      background-position: center bottom;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../img/marker.png");
      display: block;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -20px; }
      @media (min-width: 480px) {
        footer.footer .address a:before {
          left: -0; } }
      @media (min-width: 780px) {
        footer.footer .address a:before {
          width: 60px;
          height: 60px;
          margin-top: -30px;
          left: -30px; } }
    footer.footer .address a h6 {
      display: inline-block;
      vertical-align: middle;
      font-family: 'Noto Serif';
      font-style: normal;
      font-weight: 400;
      margin: 11px 0; }
      @media (min-width: 480px) {
        footer.footer .address a h6 {
          margin: 11px 50px; } }
    footer.footer .address a .button {
      display: none;
      width: 230px;
      height: 36px;
      border-radius: 18px;
      line-height: 34px;
      margin: 6px 0; }
      @media (min-width: 480px) {
        footer.footer .address a .button {
          display: inline-block; } }
      @media (min-width: 1024px) {
        footer.footer .address a .button:hover {
          color: #ed691f; } }
footer.footer .links {
  background-color: #91948f;
  color: #ffffff;
  text-align: center;
  padding: 20px 0; }
  @media (min-width: 1600px) {
    footer.footer .links {
      padding: 40px 0; } }
  footer.footer .links .social-media {
    margin: 20px auto; }
    footer.footer .links .social-media li {
      display: inline-block;
      width: 40%;
      max-width: 200px; }
      @media (min-width: 780px) {
        footer.footer .links .social-media li {
          width: 30%; } }
      @media (min-width: 1600px) {
        footer.footer .links .social-media li {
          width: 33%; } }
      footer.footer .links .social-media li a:before {
        width: 46px;
        height: 46px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-color: #ffffff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        border-radius: 50%; }
      @media (min-width: 1600px) {
        footer.footer .links .social-media li a:before {
          width: 66px;
          height: 66px;
          content: '';
          background-size: auto; } }
      footer.footer .links .social-media li a span {
        margin: 10px 10px 10px 5px;
        width: 72px;
        display: inline-block;
        font-size: .8em; }
        @media (min-width: 780px) {
          footer.footer .links .social-media li a span {
            display: block;
            margin: 10px auto; } }
    footer.footer .links .social-media #fb a:before {
      background-image: url("../img/icon-fb.png"); }
    footer.footer .links .social-media #in a:before {
      background-image: url("../img/icon-in.png"); }
  footer.footer .links .col {
    width: 100%;
    margin: 40px auto; }
    @media (min-width: 780px) {
      footer.footer .links .col {
        display: inline-block;
        width: 32%;
        vertical-align: top; } }
  footer.footer .links .col2 img {
    margin: 40px auto; }
  footer.footer .links .col2 span {
    display: block;
    margin-top: 10px; }
  footer.footer .links .col3 li {
    padding: 5px;
    font-size: .9em; }
    @media (min-width: 780px) {
      footer.footer .links .col3 li {
        padding: 7px; } }
  @media (min-width: 780px) {
    footer.footer .links .col3 h6 {
      margin-top: 15px; } }
  @media (min-width: 1600px) {
    footer.footer .links .col3 h6 {
      margin-bottom: 60px; } }
  footer.footer .links img {
    max-width: 40%;
    margin: 0 auto; }
    @media (min-width: 780px) {
      footer.footer .links img {
        max-width: 100%; } }
    @media (min-width: 1600px) {
      footer.footer .links img {
        margin-bottom: 30px; } }
  footer.footer .links ul {
    list-style: none;
    padding: 0;
    margin: 10px auto; }
  footer.footer .links a {
    color: #ffffff; }
  footer.footer .links h6 {
    margin: 0 auto 15px; }
    @media (min-width: 780px) {
      footer.footer .links h6 {
        margin-bottom: 30px; } }
    @media (min-width: 1600px) {
      footer.footer .links h6 {
        margin-bottom: 50px; } }
footer.footer .info {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: .7em;
  padding: 10px 0;
  color: #2b2929; }
  @media (min-width: 1600px) {
    footer.footer .info {
      font-size: .9em;
      padding: 37px 0; } }
  footer.footer .info div {
    text-align: center; }
    footer.footer .info div div, footer.footer .info div p {
      margin: 5px; }
      @media (min-width: 480px) {
        footer.footer .info div div, footer.footer .info div p {
          padding: 0 20px; } }
    footer.footer .info div * {
      display: inline-block;
      vertical-align: middle; }
    @media (min-width: 780px) {
      footer.footer .info div {
        text-align: right; }
        footer.footer .info div p {
          line-height: 31px;
          float: left; } }
  footer.footer .info a {
    margin-left: 10px; }

*:focus {
  outline: none; }

html, body {
  background-color: #ffffff;
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400; }

#content {
  padding-top: 46px; }
  @media (min-width: 780px) {
    #content {
      padding-top: 191px; } }
  @media (min-width: 1600px) {
    #content {
      padding-top: 207px; } }

h1 {
  font-size: 1.5em;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400; }
  @media (min-width: 780px) {
    h1 {
      font-size: 1.85em; } }

h2 {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  margin: 15px 5px;
  font-size: 1.4em; }
  @media (min-width: 1600px) {
    h2 {
      font-size: 2.5em; } }

h3 {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em; }
  @media (min-width: 1600px) {
    h3 {
      font-size: 1.75em; } }

h4 {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  padding: 10px; }
  @media (min-width: 1600px) {
    h4 {
      font-size: 1.75em; } }

h5 {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-size: .8em;
  margin: 0 auto 5px; }
  @media (min-width: 1600px) {
    h5 {
      font-size: .9em; } }

h6 {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  margin: 0; }
  @media (min-width: 780px) {
    h6 {
      font-size: 1.2em; } }

a {
  text-decoration: none; }

.button {
  font-size: .9em;
  border: solid 1px #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  @media (min-width: 1024px) {
    .button {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .button:hover {
        background-color: #ffffff; } }

.wrapper {
  width: 95%;
  max-width: 1180px;
  margin: auto; }

img {
  display: block;
  margin: auto;
  max-width: 100%; }

/*# sourceMappingURL=style.css.map */
