.page-title-wrapper {
  color: $white;

  @include media-step2 {
    padding-bottom: 120px;
  }
}

.services {
  background-color: $gray3;
  padding: 30px 0;

  @include media-step2 {
    padding: 0 0 50px 0;
  }

  @include media-step5 {
    padding-bottom: 100px;
  }

  ul.groups, ul.orphan {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      max-width: 450px;
      margin: 0 auto;

      @include media-step2 {
        padding-top: 60px;
        width: 32%;
        display: inline-block;
        vertical-align: top;
      }

      @include media-step5 {
        padding-top: 90px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: $gray;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;

        $size: 60;

        width: $size * 1px;
        height: $size * 1px;
        border-radius: $size * 1px;

        @include media-step2 {
          top: - $size / 2 * 1px;
        }

        @include media-step3 {

          $size: 80;

          top: - $size / 2 * 1px;
          width: $size * 1px;
          height: $size * 1px;
          border-radius: $size * 1px;
        }

        @include media-step5 {
          $size: 110;

          top: - $size / 2 * 1px;
          width: $size * 1px;
          height: $size * 1px;
          border-radius: $size * 1px;
          background-size: auto;
        }
      }

      &#i_1:before {
        background-image: url('../../img/1.png');
      }

      &#i_2:before {
        background-image: url('../../img/2.png');
      }

      &#i_3:before {
        background-image: url('../../img/3.png');
      }

      &#i_p:before {
        background-image: url('../../img/+.png');
      }

      h2 {
        font-size: 1.1em;
        text-align: center;

        @include media-step2 {
          height: 72px;
        }

        @include media-step5 {
          font-size: 1.5em;
          height: 99px;
        }
      }

      p {
        font-size: .8em;
      }

      ul {
        list-style: none;

        li {
          font-size: 0.8em;
          position: relative;
          margin-bottom: 6px;
          line-height: 1.6em;

          @include media-step2 {
            line-height: 1.9em;
          }

          @include media-step5 {
            line-height: 2.1em;
          }

          &:before {
            position: absolute;
            top: 7px;
            left: -28px;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background-color: $purple;

            @include media-step5 {
              top: 9px;
            }
          }
        }
      }
    }
  }

  ul.orphan {
    text-align: center;

    li {
      display: block;
      width: auto;
      max-width: none;

      &:before {
        content: none;
      }

      h2 {
        height: auto;
      }

      ul {
        li {
          margin: auto;
          max-width: 300px;
          text-align: left;
        }
      }
    }

  }
}
