@import "../libs/breakpoints-mobile_first";
@import "../libs/mixins";
@import "../libs/fonts";
@import "../libs/colors";

.page-title-wrapper {
  background-color: $orange;
  color: $white;
}

.subtitle-wrapper {
  background-color: $gray3;
  text-align: center;
  color: $text1;
  padding: 20px;

  @include media-step2 {
    padding: 40px;
  }

  @include media-step3 {
    padding: 55px;
  }

  p {
    font-size: .8em;
    line-height: 1.6em;
    margin: 30px auto;
    max-width: 680px;

    @include media-step2 {
      font-size: .95em;
    }
  }
}

h3 {
  font-size: 1.25em;
}

.team {
  padding: 10px 0;
  text-align: center;
  color: $text1;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 15px;
      @include box-sizing(border-box);

      @include media-step1 {
        display: inline-block;
        vertical-align: top;
        width: 32%;
        min-width: 200px;
        padding: 20px;
      }

      @include media-step2 {
        padding: 40px;
      }

      @include media-step3 {
        padding: 80px;
      }

      img {
        width: 50%;
        max-width: 100%;

        @include media-step1 {
          width: 80%;
        }

        @include media-step2 {
          width: auto;
        }
      }

      h6 {
        margin: 15px auto 5px;
        @include notoserif-reg;
      }

      p, a {
        margin: 5px;
        font-size: .85em;
        color: $text1;
        display: block;
      }

      a {
        margin-top: 20px;
      }
    }
  }
}

.history {
  background-color: $gray5;
  text-align: center;
  padding: 10px 0;

  @include media-step1 {
    padding: 20px 7%;
  }

  @include media-step2 {
    padding: 50px 0;
  }

  @include media-step5 {
    padding: 50px 0 80px;
  }

  ul {
    list-style: none;
    padding: 30px 0;
    @include box-sizing(border-box);

    li {
      position: relative;
      text-align: left;

      &:first-child p {
        margin-top: 20px;
        padding-top: 0;

        @include media-step1 {
          margin-top: 30px;
        }
      }

      &:last-child p {
        margin-bottom: 20px;
        padding-bottom: 0;

        @include media-step1 {
          margin-bottom: 30px;
          padding-bottom: 0;
        }
      }

      h4 {
        position: absolute;
        display: inline-block;
        font-size: 1em;
        background-color: $white;
        border-radius: 50%;
        text-align: center;
        padding: 0;
        left: 0;
        top: 50%;

        $size: 60;
        width: $size * 1px;
        height: $size * 1px;
        line-height: $size * 1px;
        margin-top: - $size / 2 * 1px;

        @include media-step2 {
          display: inline-block;
          position: static;
          margin: 20px auto;

          $size: 80;
          width: $size * 1px;
          height: $size * 1px;
          line-height: $size * 1px;
        }
      }

      p {
        display: inline-block;
        font-size: .8em;
        padding: 20px 0 20px 45px;
        margin: 0 0 0 30px;
        text-align: left;
        border-left: 1px solid $white;

        @include media-step1 {
          padding: 30px 0 30px 45px;
        }
      }

      @include media-step2 {
        margin: 0 calc(50%  - 1px) 0 0;
        text-align: right;
        border-right: 2px solid $white;
        border-left: none;
        @include box-sizing(border-box);

        p, &:first-child p, &:last-child p {
          display: inline-block;
          vertical-align: middle;
          width: calc(100% - 90px);
          border: none;
          margin: 0;
          padding: 0 20px 0 0;
          text-align: right;
          line-height: 1.5em;
          @include box-sizing(border-box);
        }

        &:first-child h4 {
          margin-top: 0 !important;
        }

        &:last-child h4 {
          margin-bottom: 0 !important;
        }

        h4 {
          display: inline-block;
          position: static;
          margin: 20px -40px 20px 0;

          $size: 80;
          width: $size * 1px;
          height: $size * 1px;
          line-height: $size * 1px;
        }

        &.odd {
          margin: 0 0 0 calc(50%  - 1px);
          text-align: left;
          border-left: 2px solid $white;
          border-right: none;

          h4 {
            margin: 20px 0 20px -40px;
          }

          p {
            padding: 0 0 0 20px;
            text-align: left;
          }
        }
      }

      @include media-step3 {
        h4 {
          font-size: 1.25em;
        }

        p {
          font-size: .9em;
        }
      }

      @include media-step4 {
        h4 {
          display: inline-block;
          position: static;
          margin: 20px -55px 20px 0;

          $size: 110;
          width: $size * 1px;
          height: $size * 1px;
          line-height: $size * 1px;
        }

        &.odd {
          h4 {
            margin: 20px 0 20px -55px;
          }
        }
      }
    }

  }
}