/*Noto Sans*/
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1z0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*Noto Serif*/
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPRHJTnCUrjaAm2S9z52xC3Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.page-title-wrapper {
  background-color: #ed691f;
  color: #ffffff; }

.subtitle-wrapper {
  background-color: #f1eeee;
  text-align: center;
  color: #272626;
  padding: 20px; }
  @media (min-width: 780px) {
    .subtitle-wrapper {
      padding: 40px; } }
  @media (min-width: 1024px) {
    .subtitle-wrapper {
      padding: 55px; } }
  .subtitle-wrapper p {
    font-size: .8em;
    line-height: 1.6em;
    margin: 30px auto;
    max-width: 680px; }
    @media (min-width: 780px) {
      .subtitle-wrapper p {
        font-size: .95em; } }

h3 {
  font-size: 1.25em; }

.team {
  padding: 10px 0;
  text-align: center;
  color: #272626; }
  .team ul {
    list-style: none;
    padding: 0; }
    .team ul li {
      padding: 15px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      @media (min-width: 480px) {
        .team ul li {
          display: inline-block;
          vertical-align: top;
          width: 32%;
          min-width: 200px;
          padding: 20px; } }
      @media (min-width: 780px) {
        .team ul li {
          padding: 40px; } }
      @media (min-width: 1024px) {
        .team ul li {
          padding: 80px; } }
      .team ul li img {
        width: 50%;
        max-width: 100%; }
        @media (min-width: 480px) {
          .team ul li img {
            width: 80%; } }
        @media (min-width: 780px) {
          .team ul li img {
            width: auto; } }
      .team ul li h6 {
        margin: 15px auto 5px;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 400; }
      .team ul li p, .team ul li a {
        margin: 5px;
        font-size: .85em;
        color: #272626;
        display: block; }
      .team ul li a {
        margin-top: 20px; }

.history {
  background-color: #d7d7d7;
  text-align: center;
  padding: 10px 0; }
  @media (min-width: 480px) {
    .history {
      padding: 20px 7%; } }
  @media (min-width: 780px) {
    .history {
      padding: 50px 0; } }
  @media (min-width: 1600px) {
    .history {
      padding: 50px 0 80px; } }
  .history ul {
    list-style: none;
    padding: 30px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .history ul li {
      position: relative;
      text-align: left; }
      .history ul li:first-child p {
        margin-top: 20px;
        padding-top: 0; }
        @media (min-width: 480px) {
          .history ul li:first-child p {
            margin-top: 30px; } }
      .history ul li:last-child p {
        margin-bottom: 20px;
        padding-bottom: 0; }
        @media (min-width: 480px) {
          .history ul li:last-child p {
            margin-bottom: 30px;
            padding-bottom: 0; } }
      .history ul li h4 {
        position: absolute;
        display: inline-block;
        font-size: 1em;
        background-color: #ffffff;
        border-radius: 50%;
        text-align: center;
        padding: 0;
        left: 0;
        top: 50%;
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin-top: -30px; }
        @media (min-width: 780px) {
          .history ul li h4 {
            display: inline-block;
            position: static;
            margin: 20px auto;
            width: 80px;
            height: 80px;
            line-height: 80px; } }
      .history ul li p {
        display: inline-block;
        font-size: .8em;
        padding: 20px 0 20px 45px;
        margin: 0 0 0 30px;
        text-align: left;
        border-left: 1px solid #ffffff; }
        @media (min-width: 480px) {
          .history ul li p {
            padding: 30px 0 30px 45px; } }
      @media (min-width: 780px) {
        .history ul li {
          margin: 0 calc(50%  - 1px) 0 0;
          text-align: right;
          border-right: 2px solid #ffffff;
          border-left: none;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; }
          .history ul li p, .history ul li:first-child p, .history ul li:last-child p {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 90px);
            border: none;
            margin: 0;
            padding: 0 20px 0 0;
            text-align: right;
            line-height: 1.5em;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box; }
          .history ul li:first-child h4 {
            margin-top: 0 !important; }
          .history ul li:last-child h4 {
            margin-bottom: 0 !important; }
          .history ul li h4 {
            display: inline-block;
            position: static;
            margin: 20px -40px 20px 0;
            width: 80px;
            height: 80px;
            line-height: 80px; }
          .history ul li.odd {
            margin: 0 0 0 calc(50%  - 1px);
            text-align: left;
            border-left: 2px solid #ffffff;
            border-right: none; }
            .history ul li.odd h4 {
              margin: 20px 0 20px -40px; }
            .history ul li.odd p {
              padding: 0 0 0 20px;
              text-align: left; } }
      @media (min-width: 1024px) {
        .history ul li h4 {
          font-size: 1.25em; }
        .history ul li p {
          font-size: .9em; } }
      @media (min-width: 1280px) {
        .history ul li h4 {
          display: inline-block;
          position: static;
          margin: 20px -55px 20px 0;
          width: 110px;
          height: 110px;
          line-height: 110px; }
        .history ul li.odd h4 {
          margin: 20px 0 20px -55px; } }

/*# sourceMappingURL=about.css.map */
