/*Noto Sans*/
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1z0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*Noto Serif*/
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPRHJTnCUrjaAm2S9z52xC3Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.page-title-wrapper {
  color: #ffffff; }
  @media (min-width: 780px) {
    .page-title-wrapper {
      padding-bottom: 120px; } }

.services {
  background-color: #f1eeee;
  padding: 30px 0; }
  @media (min-width: 780px) {
    .services {
      padding: 0 0 50px 0; } }
  @media (min-width: 1600px) {
    .services {
      padding-bottom: 100px; } }
  .services ul.groups, .services ul.orphan {
    list-style: none;
    padding: 0;
    margin: 0; }
    .services ul.groups > li, .services ul.orphan > li {
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      max-width: 450px;
      margin: 0 auto; }
      @media (min-width: 780px) {
        .services ul.groups > li, .services ul.orphan > li {
          padding-top: 60px;
          width: 32%;
          display: inline-block;
          vertical-align: top; } }
      @media (min-width: 1600px) {
        .services ul.groups > li, .services ul.orphan > li {
          padding-top: 90px; } }
      .services ul.groups > li:before, .services ul.orphan > li:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-color: #91948f;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;
        width: 60px;
        height: 60px;
        border-radius: 60px; }
        @media (min-width: 780px) {
          .services ul.groups > li:before, .services ul.orphan > li:before {
            top: -30px; } }
        @media (min-width: 1024px) {
          .services ul.groups > li:before, .services ul.orphan > li:before {
            top: -40px;
            width: 80px;
            height: 80px;
            border-radius: 80px; } }
        @media (min-width: 1600px) {
          .services ul.groups > li:before, .services ul.orphan > li:before {
            top: -55px;
            width: 110px;
            height: 110px;
            border-radius: 110px;
            background-size: auto; } }
      .services ul.groups > li#i_1:before, .services ul.orphan > li#i_1:before {
        background-image: url("../../img/1.png"); }
      .services ul.groups > li#i_2:before, .services ul.orphan > li#i_2:before {
        background-image: url("../../img/2.png"); }
      .services ul.groups > li#i_3:before, .services ul.orphan > li#i_3:before {
        background-image: url("../../img/3.png"); }
      .services ul.groups > li#i_p:before, .services ul.orphan > li#i_p:before {
        background-image: url("../../img/+.png"); }
      .services ul.groups > li h2, .services ul.orphan > li h2 {
        font-size: 1.1em;
        text-align: center; }
        @media (min-width: 780px) {
          .services ul.groups > li h2, .services ul.orphan > li h2 {
            height: 72px; } }
        @media (min-width: 1600px) {
          .services ul.groups > li h2, .services ul.orphan > li h2 {
            font-size: 1.5em;
            height: 99px; } }
      .services ul.groups > li p, .services ul.orphan > li p {
        font-size: .8em; }
      .services ul.groups > li ul, .services ul.orphan > li ul {
        list-style: none; }
        .services ul.groups > li ul li, .services ul.orphan > li ul li {
          font-size: 0.8em;
          position: relative;
          margin-bottom: 6px;
          line-height: 1.6em; }
          @media (min-width: 780px) {
            .services ul.groups > li ul li, .services ul.orphan > li ul li {
              line-height: 1.9em; } }
          @media (min-width: 1600px) {
            .services ul.groups > li ul li, .services ul.orphan > li ul li {
              line-height: 2.1em; } }
          .services ul.groups > li ul li:before, .services ul.orphan > li ul li:before {
            position: absolute;
            top: 7px;
            left: -28px;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background-color: #2e41b6; }
            @media (min-width: 1600px) {
              .services ul.groups > li ul li:before, .services ul.orphan > li ul li:before {
                top: 9px; } }
  .services ul.orphan {
    text-align: center; }
    .services ul.orphan li {
      display: block;
      width: auto;
      max-width: none; }
      .services ul.orphan li:before {
        content: none; }
      .services ul.orphan li h2 {
        height: auto; }
      .services ul.orphan li ul li {
        margin: auto;
        max-width: 300px;
        text-align: left; }

.page-title-wrapper {
  background-color: #ed691f; }

/*# sourceMappingURL=accounting.css.map */
