@import "../libs/breakpoints-mobile_first";
@import "../libs/mixins";
@import "../libs/fonts";
@import "../libs/colors";

.page-title-wrapper {
  background-color: $orange;
  color: $white;
}

.contact-wrapper {
  padding: 10px 0 50px;
  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      text-align: center;
      padding-top: 20px;

      @include media-step2 {
        display: inline-block;
        vertical-align: middle;
        width: 32%;
      }

      @include media-step2 {
        &#links {
          position: relative;
          padding-right: 15px;

          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100px;
            background-color: $gray2;
            top: 50%;
            margin-top: -50px;
            right: 0;
          }
        }

        &#address {
          text-align: left;
          padding-left: 22px;
          @include box-sizing(border-box);
        }
      }

      img {
        width: 50%;
        max-width: 100%;

        @include media-step1 {
          width: auto;
          max-width: 60%;
        }

        @include media-step2 {
          width: auto;
          margin-top: 50px;
        }
      }

      h6 {
        margin: 15px auto 5px;
        @include notoserif-reg;
      }

      p, a {
        margin: 5px;
        font-size: .85em;
        color: $text1;
        display: block;
      }

      p {
        margin: 10px 5px;

        @include media-step2 {
          margin: 20px 5px;
        }

        @include media-step5 {
          font-size: 1em;
        }
      }

      a {
        margin-top: 10px;

        @include media-step2 {
          padding-left: 70px;
          text-align: left;
          position: relative;
          margin: 0 auto 30px;
          display: block;

          &:before {
            content: '';
            display: block;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;

            $size: 30;

            width: $size * 1px;
            height: $size * 1px;
            margin-top: - $size / 2 * 1px;
            left: 0;
            top: 50%;

          }

          &.phone:before {
            background-image: url('../../img/phone-p.png');
          }
          &.mail:before {
            background-image: url('../../img/email-p.png');
          }
        }

        @include media-step3 {
          @include transition(all, .3s, ease-in-out);

          &:before {

            $size: 40;

            width: $size * 1px;
            height: $size * 1px;
            margin-top: - $size / 2 * 1px;
            left: 0;
            top: 50%;

          }

          &:hover {
            color: $purple;
          }
        }

        @include media-step5 {
          padding-left: 100px;
          margin: 0 auto 60px;

          &:before {

            $size: 48;

            width: $size * 1px;
            height: $size * 1px;
            margin-top: - $size / 2 * 1px;
            left: 0;
            top: 50%;

          }

          h5 {
            font-size: 1em;
          }

          span {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

#map {
  height: 300px;
}