/*Noto Sans*/
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1z0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*Noto Serif*/
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPRHJTnCUrjaAm2S9z52xC3Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.page-title-wrapper {
  background-color: #ed691f;
  color: #ffffff; }

.contact-wrapper {
  padding: 10px 0 50px; }
  .contact-wrapper ul {
    list-style: none;
    padding: 0;
    text-align: center; }
    .contact-wrapper ul li {
      text-align: center;
      padding-top: 20px; }
      @media (min-width: 780px) {
        .contact-wrapper ul li {
          display: inline-block;
          vertical-align: middle;
          width: 32%; } }
      @media (min-width: 780px) {
        .contact-wrapper ul li#links {
          position: relative;
          padding-right: 15px; }
          .contact-wrapper ul li#links:after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100px;
            background-color: #e1e1e1;
            top: 50%;
            margin-top: -50px;
            right: 0; }
        .contact-wrapper ul li#address {
          text-align: left;
          padding-left: 22px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; } }
      .contact-wrapper ul li img {
        width: 50%;
        max-width: 100%; }
        @media (min-width: 480px) {
          .contact-wrapper ul li img {
            width: auto;
            max-width: 60%; } }
        @media (min-width: 780px) {
          .contact-wrapper ul li img {
            width: auto;
            margin-top: 50px; } }
      .contact-wrapper ul li h6 {
        margin: 15px auto 5px;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 400; }
      .contact-wrapper ul li p, .contact-wrapper ul li a {
        margin: 5px;
        font-size: .85em;
        color: #272626;
        display: block; }
      .contact-wrapper ul li p {
        margin: 10px 5px; }
        @media (min-width: 780px) {
          .contact-wrapper ul li p {
            margin: 20px 5px; } }
        @media (min-width: 1600px) {
          .contact-wrapper ul li p {
            font-size: 1em; } }
      .contact-wrapper ul li a {
        margin-top: 10px; }
        @media (min-width: 780px) {
          .contact-wrapper ul li a {
            padding-left: 70px;
            text-align: left;
            position: relative;
            margin: 0 auto 30px;
            display: block; }
            .contact-wrapper ul li a:before {
              content: '';
              display: block;
              position: absolute;
              background-size: cover;
              background-repeat: no-repeat;
              width: 30px;
              height: 30px;
              margin-top: -15px;
              left: 0;
              top: 50%; }
            .contact-wrapper ul li a.phone:before {
              background-image: url("../../img/phone-p.png"); }
            .contact-wrapper ul li a.mail:before {
              background-image: url("../../img/email-p.png"); } }
        @media (min-width: 1024px) {
          .contact-wrapper ul li a {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            .contact-wrapper ul li a:before {
              width: 40px;
              height: 40px;
              margin-top: -20px;
              left: 0;
              top: 50%; }
            .contact-wrapper ul li a:hover {
              color: #2e41b6; } }
        @media (min-width: 1600px) {
          .contact-wrapper ul li a {
            padding-left: 100px;
            margin: 0 auto 60px; }
            .contact-wrapper ul li a:before {
              width: 48px;
              height: 48px;
              margin-top: -24px;
              left: 0;
              top: 50%; }
            .contact-wrapper ul li a h5 {
              font-size: 1em; }
            .contact-wrapper ul li a span {
              font-size: 1.2em; } }

#map {
  height: 300px; }

/*# sourceMappingURL=contact.css.map */
