/*Noto Sans*/
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1z0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*Noto Serif*/
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPRHJTnCUrjaAm2S9z52xC3Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
.page-title-wrapper {
  background-color: #ed691f;
  color: #ffffff; }

.counsels {
  background-color: #f1eeee; }
  .counsels > .wrapper {
    width: 100%; }
    @media (min-width: 1024px) {
      .counsels > .wrapper {
        width: 95%; } }
  .counsels ul {
    list-style: none;
    margin: 0 auto; }
  .counsels h2 {
    font-size: 1.1em;
    text-align: center;
    margin: 20px auto; }
    @media (min-width: 1600px) {
      .counsels h2 {
        font-size: 1.5em; } }
  .counsels p {
    font-size: .8em; }
  .counsels .problems {
    background-color: #d7d7d7;
    padding: 10px; }
    @media (min-width: 1024px) {
      .counsels .problems {
        padding-top: 65px;
        padding-bottom: 40px;
        display: inline-block;
        vertical-align: top;
        width: 29%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; } }
    .counsels .problems ul {
      max-width: 400px;
      margin: auto; }
      .counsels .problems ul li {
        position: relative;
        margin-bottom: 10px; }
        .counsels .problems ul li:before {
          position: absolute;
          top: 8px;
          left: -28px;
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: #2e41b6; }
          @media (min-width: 1600px) {
            .counsels .problems ul li:before {
              top: 9px; } }
        .counsels .problems ul li a {
          color: #272626;
          font-size: .8em; }
          @media (min-width: 1024px) {
            .counsels .problems ul li a {
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
              .counsels .problems ul li a:hover {
                color: #ed691f; } }
  .counsels .solutions {
    padding-bottom: 80px; }
    @media (min-width: 1024px) {
      .counsels .solutions {
        width: 70%;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; } }
    .counsels .solutions ul {
      padding: 0; }
      .counsels .solutions ul li h2 {
        margin: 40px auto 20px; }
        @media (min-width: 780px) {
          .counsels .solutions ul li h2 {
            padding-top: 65px; } }
        @media (min-width: 1024px) {
          .counsels .solutions ul li h2 {
            text-align: left;
            margin: 20px auto; } }
      @media (min-width: 780px) {
        .counsels .solutions ul li p {
          line-height: 1.8em; } }
      .counsels .solutions ul li ul {
        font-size: .8em;
        padding-left: 30px; }
        .counsels .solutions ul li ul li {
          position: relative; }
          .counsels .solutions ul li ul li:before {
            position: absolute;
            top: 21px;
            left: -16px;
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: #2e41b6; }
            @media (min-width: 1600px) {
              .counsels .solutions ul li ul li:before {
                top: 9px; } }
      .counsels .solutions ul li h3 {
        font-size: .95em;
        padding-left: 10px; }
    @media (min-width: 1024px) {
      .counsels .solutions:not(:target) li {
        overflow: hidden;
        max-height: 0; }
        .counsels .solutions:not(:target) li:target {
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -ms-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          max-height: 1400px; } }

/*# sourceMappingURL=counsels.css.map */
