@import "../libs/breakpoints-mobile_first";
@import "../libs/mixins";
@import "../libs/fonts";
@import "../libs/colors";

.page-title-wrapper {
  background-color: $orange;
  color: $white;
}

.counsels {
  background-color: $gray3;

  & > .wrapper {
    width: 100%;

    @include media-step3 {
      width: 95%;
    }
  }

  ul {
    list-style: none;
    margin: 0 auto;
  }

  h2 {
    font-size: 1.1em;
    text-align: center;
    margin: 20px auto;

    @include media-step5 {
      font-size: 1.5em;
    }
  }

  p {
    font-size: .8em;
  }

  .problems {
    background-color: $gray5;
    padding: 10px;

    @include media-step3 {
      padding-top: 65px;
      padding-bottom: 40px;
      display: inline-block;
      vertical-align: top;
      width: 29%;
      @include box-sizing(border-box);
    }

    ul {
      max-width: 400px;
      margin: auto;

      li {
        position: relative;
        margin-bottom: 10px;

        &:before {
          position: absolute;
          top: 8px;
          left: -28px;
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: $purple;

          @include media-step5 {
            top: 9px;
          }
        }

        a {
          color: $text1;
          font-size: .8em;

          @include media-step3 {
            @include transition(all, .3s, ease-in-out);
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }

  .solutions {
    padding-bottom: 80px;

    @include media-step3 {
      width: 70%;
      display: inline-block;
      vertical-align: top;
      @include box-sizing(border-box);
    }

    ul {
      padding: 0;

      li {

        h2 {
          margin: 40px auto 20px;

          @include media-step2 {
            padding-top: 65px;
          }

          @include media-step3 {
            text-align: left;
            margin: 20px auto;
          }
        }

        p {
          @include media-step2 {
            line-height: 1.8em;
          }
        }

        ul {
          font-size: .8em;
          padding-left: 30px;

          li {
            position: relative;

            &:before {
              position: absolute;
              top: 21px;
              left: -16px;
              content: '';
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 6px;
              background-color: $purple;

              @include media-step5 {
                top: 9px;
              }
            }
          }
        }

        h3 {
          font-size: .95em;
          padding-left: 10px;
        }
      }
    }

    @include media-step3 {
      &:not(:target) {

        li {
          overflow: hidden;
          max-height: 0;

          &:target {
            @include transition(all, .6s, ease-in-out);
            max-height: 1400px;
          }
        }
      }
    }
  }
}