@import "../libs/breakpoints-mobile_first";
@import "../libs/mixins";
@import "../libs/fonts";
@import "../libs/colors";

.heading-wrapper {

  @include media-step2 {
    width: 100%;
    display: table;
  }

  @include media-step3 {
    height: 380px;
    $a: 240px;

    &:hover .heading {

      &#left .wrapper {
        h2, a {
          opacity: .3;
        }
        left: $a;
      }

      &#right .wrapper {
        h2, a {
          opacity: .3;
        }
        right: $a;
      }
    }
  }

  @include media-step4 {
    height: 450px;
    $a: 360px;

    &:hover .heading {

      &#left .wrapper {
        left: $a;
      }

      &#right .wrapper {
        right: $a;
      }
    }
  }

  @include media-step5 {
    height: 540px;
    $a: 540px;

    &:hover .heading {

      &#left .wrapper {
        left: $a;
      }

      &#right .wrapper {
        right: $a;
      }
    }
  }

  .heading {
    position: relative;
    color: $white;
    width: 100%;
    padding: 20px 0;
    text-align: center;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url(../../img/bg_heading.jpg);
      background-repeat: no-repeat;
      z-index: -1;
    }

    &#left {
      &:after {
        background-position: 0 20%;
        opacity: .18;
      }

      &:before {
        background-color: $purple_rgba;
      }
    }

    &#right {

      &:after {
        background-position: 100% -300px;
        opacity: .13;
      }

      &:before {
        background-color: $orange_rgba;
      }
    }

    ul {
      margin: 15px auto 40px;
      list-style: none;
      padding: 0;

      li {
        font-size: .8em;
        margin-bottom: 8px;
      }
    }

    a {
      width: 100px;
      color: $white;
      margin: 15px auto;
      display: block;
      height: 30px;
      border-radius: 15px;
      line-height: 28px;
    }

    @include media-step2 {
      width: 20%;
      display: table-cell;

      h2 {
        height: 62px;
      }

      ul {
        margin-bottom: 100px;
      }

      .button {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 60px;
      }
    }

    @include media-step3 {
      @include transition(all, .3s, ease-in-out);
      overflow: hidden;

      &:hover {
        width: 50%;
        color: $white !important;

        &#left {
          background-color: $purple_rgba-hover;

          .wrapper {
            h2, a {
              opacity: 1;
            }
            left: calc(50vw - 120px);
          }

          ul {
            border-left: 1px solid $white;
            opacity: 1;
          }
        }

        &#right {
          background-color: $orange_rgba-hover;

          .wrapper {

            h2, a {
              opacity: 1;
            }
            right: calc(50vw - 120px);
          }

          ul {
            border-right: 1px solid $white;
            opacity: 1;
          }
        }
      }

      .wrapper {
        @include transition(all, .3s, ease-in-out);
        width: auto;
        position: absolute;
        top: 60%;
      }

      h2 {
        position: absolute;
        bottom: 0;
        width: 140px;
        height: auto;
        @include transition(all, .3s, ease-in-out);
      }

      ul {
        position: absolute;
        top: -166px;
        margin: 0;
        width: 270px;
        border: 1px solid transparent;
        opacity: 0;
        @include transition(opacity, .3s, ease-in-out);
      }

      .button {
        top: 100px;
        @include transition(all, .3s, ease-in-out);
      }

      $x: 25px;

      &#left {
        .wrapper {
          left: calc(50vw - 120px);
        }

        h2 {
          text-align: right;
          right: 0;
        }

        ul {
          left: 0;
          text-align: left;
          padding: 10px 0 10px $x;
          margin-left: $x;
        }

        .button {
          right: 0;
          left: initial;

          &:hover {
            color: $purple-rgba-hover;
          }
        }
      }

      &#right {
        .wrapper {
          right: calc(50vw - 120px);
        }

        h2 {
          text-align: left;
          left: 0;
        }

        ul {
          right: 0;
          text-align: right;
          padding: 72px $x 72px 0;
          margin-right: $x;
        }

        .button {
          left: 0;
          right: initial;

          &:hover {
            color: $orange-rgba-hover;
          }
        }
      }
    }

    @include media-step4 {
      &:hover {
        width: 40%;
      }
    }
    @include media-step5 {
      &:hover {
        width: 35%;

        &#left {
          .wrapper {
            left: calc(50vw - 160px);
          }
        }

        &#right {
          .wrapper {
            right: calc(50vw - 160px);
          }
        }
      }

      h2 {
        width: 260px;
      }

      .button {
        font-size: 1.25em;
        height: 40px;
        width: 136px;
        border-radius: 20px;
        line-height: 36px;
        border: 2px solid $white;
        top: 160px;
      }

      ul {
        top: -230px;

        li {
            font-size: .95em;
        }
      }

      $x: 40px;

      &#left {
        .wrapper {
          left: calc(50vw - 160px);
        }

        ul {
          padding: 20px 0 20px $x;
          margin-left: $x;
        }
      }

      &#right {
        .wrapper {
          right: calc(50vw - 160px);
        }

        ul {
          padding: 94px $x 94px 0;
          margin-right: $x;
        }
      }
    }
  }
}

.values {
  background-color: $gray3;

  .wrapper {
    width: 100%;
  }

  ul {
    padding: 30px 0 45px;
    margin: 0;
    list-style: none;
    color: $text1;
    text-align: center;

    @include media-step3 {
      padding: 60px 0 80px;
    }

    @include media-step5 {
      padding: 80px 0;
    }

    li {
      position: relative;
      padding: 70px 20px 0;
      display: inline-block;
      vertical-align: top;
      max-width: 180px;
      margin: auto;

      &:before {
        $size: 60;

        height: $size * 1px;
        width: $size * 1px;
        border-radius: 50%;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 15px;
        margin: auto;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
      }

      &#column:before {
        background-color: $orange;
        background-image: url('../../img/icon-column.png');
        background-size: 60%;
        background-position: center 60%;

        @include media-step5 {
          background-size: auto;
        }
      }

      &#tree:before {
        background-color: $gray;
        background-image: url('../../img/icon-tree.png');
        background-size: 60%;

        @include media-step5 {
          background-size: auto;
        }
      }

      &#trophy:before {
        background-color: $purple;
        background-image: url('../../img/icon-trophy.png');
        background-size: 45%;

        @include media-step5 {
          background-size: auto;
        }
      }

      @include media-step2 {
        padding: 0 20px;

        &:before {
          top: -60px;
        }
      }

      @include media-step3 {
        padding: 0 50px;

        &:before {
          $size: 80;

          height: $size * 1px;
          width: $size * 1px;
          top: -100px;
        }
      }

      @include media-step5 {
        padding: 0 80px;
        max-width: 210px;

        &:before {
          $size: 110;

          height: $size * 1px;
          width: $size * 1px;
          top: -135px;
        }

        p {
          font-size: .9em;
          line-height: 1.6em;
        }
      }
    }

    h3 {
      text-align: center
    }

    p {
      font-size: .7em;
      text-align: center;
    }
  }
}

