/*Noto Sans*/
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1z0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosans/v6/PIbvSEyHEdL91QLOQRnZ1-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*Noto Serif*/
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/fVu1p3782bqS2z-CaJvp9iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPRHJTnCUrjaAm2S9z52xC3Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notoserif/v4/lJAvZoKA5NttpPc9yc6lPYWiMMZ7xLd792ULpGE4W_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@media (min-width: 780px) {
  .heading-wrapper {
    width: 100%;
    display: table; } }
@media (min-width: 1024px) {
  .heading-wrapper {
    height: 380px; }
    .heading-wrapper:hover .heading#left .wrapper {
      left: 240px; }
      .heading-wrapper:hover .heading#left .wrapper h2, .heading-wrapper:hover .heading#left .wrapper a {
        opacity: .3; }
    .heading-wrapper:hover .heading#right .wrapper {
      right: 240px; }
      .heading-wrapper:hover .heading#right .wrapper h2, .heading-wrapper:hover .heading#right .wrapper a {
        opacity: .3; } }
@media (min-width: 1280px) {
  .heading-wrapper {
    height: 450px; }
    .heading-wrapper:hover .heading#left .wrapper {
      left: 360px; }
    .heading-wrapper:hover .heading#right .wrapper {
      right: 360px; } }
@media (min-width: 1600px) {
  .heading-wrapper {
    height: 540px; }
    .heading-wrapper:hover .heading#left .wrapper {
      left: 540px; }
    .heading-wrapper:hover .heading#right .wrapper {
      right: 540px; } }
.heading-wrapper .heading {
  position: relative;
  color: #ffffff;
  width: 100%;
  padding: 20px 0;
  text-align: center; }
  .heading-wrapper .heading:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }
  .heading-wrapper .heading:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../img/bg_heading.jpg);
    background-repeat: no-repeat;
    z-index: -1; }
  .heading-wrapper .heading#left:after {
    background-position: 0 20%;
    opacity: .18; }
  .heading-wrapper .heading#left:before {
    background-color: #384bb8; }
  .heading-wrapper .heading#right:after {
    background-position: 100% -300px;
    opacity: .13; }
  .heading-wrapper .heading#right:before {
    background-color: #fd6815; }
  .heading-wrapper .heading ul {
    margin: 15px auto 40px;
    list-style: none;
    padding: 0; }
    .heading-wrapper .heading ul li {
      font-size: .8em;
      margin-bottom: 8px; }
  .heading-wrapper .heading a {
    width: 100px;
    color: #ffffff;
    margin: 15px auto;
    display: block;
    height: 30px;
    border-radius: 15px;
    line-height: 28px; }
  @media (min-width: 780px) {
    .heading-wrapper .heading {
      width: 20%;
      display: table-cell; }
      .heading-wrapper .heading h2 {
        height: 62px; }
      .heading-wrapper .heading ul {
        margin-bottom: 100px; }
      .heading-wrapper .heading .button {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 60px; } }
  @media (min-width: 1024px) {
    .heading-wrapper .heading {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      overflow: hidden; }
      .heading-wrapper .heading:hover {
        width: 50%;
        color: #ffffff !important; }
        .heading-wrapper .heading:hover#left {
          background-color: #374abb; }
          .heading-wrapper .heading:hover#left .wrapper {
            left: calc(50vw - 120px); }
            .heading-wrapper .heading:hover#left .wrapper h2, .heading-wrapper .heading:hover#left .wrapper a {
              opacity: 1; }
          .heading-wrapper .heading:hover#left ul {
            border-left: 1px solid #ffffff;
            opacity: 1; }
        .heading-wrapper .heading:hover#right {
          background-color: #ed691f; }
          .heading-wrapper .heading:hover#right .wrapper {
            right: calc(50vw - 120px); }
            .heading-wrapper .heading:hover#right .wrapper h2, .heading-wrapper .heading:hover#right .wrapper a {
              opacity: 1; }
          .heading-wrapper .heading:hover#right ul {
            border-right: 1px solid #ffffff;
            opacity: 1; }
      .heading-wrapper .heading .wrapper {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: auto;
        position: absolute;
        top: 60%; }
      .heading-wrapper .heading h2 {
        position: absolute;
        bottom: 0;
        width: 140px;
        height: auto;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .heading-wrapper .heading ul {
        position: absolute;
        top: -166px;
        margin: 0;
        width: 270px;
        border: 1px solid transparent;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out; }
      .heading-wrapper .heading .button {
        top: 100px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .heading-wrapper .heading#left .wrapper {
        left: calc(50vw - 120px); }
      .heading-wrapper .heading#left h2 {
        text-align: right;
        right: 0; }
      .heading-wrapper .heading#left ul {
        left: 0;
        text-align: left;
        padding: 10px 0 10px 25px;
        margin-left: 25px; }
      .heading-wrapper .heading#left .button {
        right: 0;
        left: initial; }
        .heading-wrapper .heading#left .button:hover {
          color: #374abb; }
      .heading-wrapper .heading#right .wrapper {
        right: calc(50vw - 120px); }
      .heading-wrapper .heading#right h2 {
        text-align: left;
        left: 0; }
      .heading-wrapper .heading#right ul {
        right: 0;
        text-align: right;
        padding: 72px 25px 72px 0;
        margin-right: 25px; }
      .heading-wrapper .heading#right .button {
        left: 0;
        right: initial; }
        .heading-wrapper .heading#right .button:hover {
          color: #ed691f; } }
  @media (min-width: 1280px) {
    .heading-wrapper .heading:hover {
      width: 40%; } }
  @media (min-width: 1600px) {
    .heading-wrapper .heading:hover {
      width: 35%; }
      .heading-wrapper .heading:hover#left .wrapper {
        left: calc(50vw - 160px); }
      .heading-wrapper .heading:hover#right .wrapper {
        right: calc(50vw - 160px); }
    .heading-wrapper .heading h2 {
      width: 260px; }
    .heading-wrapper .heading .button {
      font-size: 1.25em;
      height: 40px;
      width: 136px;
      border-radius: 20px;
      line-height: 36px;
      border: 2px solid #ffffff;
      top: 160px; }
    .heading-wrapper .heading ul {
      top: -230px; }
      .heading-wrapper .heading ul li {
        font-size: .95em; }
    .heading-wrapper .heading#left .wrapper {
      left: calc(50vw - 160px); }
    .heading-wrapper .heading#left ul {
      padding: 20px 0 20px 40px;
      margin-left: 40px; }
    .heading-wrapper .heading#right .wrapper {
      right: calc(50vw - 160px); }
    .heading-wrapper .heading#right ul {
      padding: 94px 40px 94px 0;
      margin-right: 40px; } }

.values {
  background-color: #f1eeee; }
  .values .wrapper {
    width: 100%; }
  .values ul {
    padding: 30px 0 45px;
    margin: 0;
    list-style: none;
    color: #272626;
    text-align: center; }
    @media (min-width: 1024px) {
      .values ul {
        padding: 60px 0 80px; } }
    @media (min-width: 1600px) {
      .values ul {
        padding: 80px 0; } }
    .values ul li {
      position: relative;
      padding: 70px 20px 0;
      display: inline-block;
      vertical-align: top;
      max-width: 180px;
      margin: auto; }
      .values ul li:before {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 15px;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%; }
      .values ul li#column:before {
        background-color: #ed691f;
        background-image: url("../../img/icon-column.png");
        background-size: 60%;
        background-position: center 60%; }
        @media (min-width: 1600px) {
          .values ul li#column:before {
            background-size: auto; } }
      .values ul li#tree:before {
        background-color: #91948f;
        background-image: url("../../img/icon-tree.png");
        background-size: 60%; }
        @media (min-width: 1600px) {
          .values ul li#tree:before {
            background-size: auto; } }
      .values ul li#trophy:before {
        background-color: #2e41b6;
        background-image: url("../../img/icon-trophy.png");
        background-size: 45%; }
        @media (min-width: 1600px) {
          .values ul li#trophy:before {
            background-size: auto; } }
      @media (min-width: 780px) {
        .values ul li {
          padding: 0 20px; }
          .values ul li:before {
            top: -60px; } }
      @media (min-width: 1024px) {
        .values ul li {
          padding: 0 50px; }
          .values ul li:before {
            height: 80px;
            width: 80px;
            top: -100px; } }
      @media (min-width: 1600px) {
        .values ul li {
          padding: 0 80px;
          max-width: 210px; }
          .values ul li:before {
            height: 110px;
            width: 110px;
            top: -135px; }
          .values ul li p {
            font-size: .9em;
            line-height: 1.6em; } }
    .values ul h3 {
      text-align: center; }
    .values ul p {
      font-size: .7em;
      text-align: center; }

/*# sourceMappingURL=main.css.map */
