@import "../libs/breakpoints-mobile_first";
@import "../libs/mixins";
@import "../libs/fonts";
@import "../libs/colors";

.page-title-wrapper {
  background-color: $gray3;
  color: $text1;
  padding-bottom: 50px;

  @include media-step3 {
    padding-bottom: 80px;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
  }

  .button {
    font-size: .8em;
    margin: 10px auto;

    $size: 40;

    width: 280px;
    height: $size * 1px;
    line-height: ($size - 4) * 1px;
    border-radius: $size / 2 * 1px;

    @include media-step2 {
      margin: 20px;;
    }

    @include media-step5 {
      font-size: .9em;

      $size: 50;

      height: $size * 1px;
      line-height: ($size - 4) * 1px;
      border-radius: $size / 2 * 1px;
    }

    &.purple {
      color: $white;
      background-color: $purple;
      border: 2px solid $purple;
    }

    &.orange {
      color: $white;
      background-color: $orange;
      border: 2px solid $orange;

    }

    @include media-step3 {
      &:hover {
        color: $text1;
        background-color: transparent;
        border: 2px solid $text1;
      }
    }
  }
}